<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Page</title>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <!-- custom css -->
    <link rel="stylesheet" href="/css/login.css">

    <!-- custom js -->
    <scrpt type="text/javascript" src="ts/login.ts">
    <title>Title</title>
  </head>
  <body>
    <div class="card bg-dark">
      <div class="card-header">Login</div>
      <div class="card-body">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password">
        </div><br>
        <button type="button" class="btn btn-primary" style="width: 100%;">Login</button>
      </div>
    </div>
  </body>
</html>
